<configuration>
    <property name="LOG_DIR" value="logs"/>
    <property name="ELASTIC_LOG_DIR" value="elastic_logs"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %X{call-id} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archived/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 1GB, it will delete old archived file -->
            <totalSizeCap>1GB</totalSizeCap>
            <!-- -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.knowledgespike" level="trace"/>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="LOGSTASH"/>
    </root>
    <logger name="org.eclipse.jetty" level="info"/>
    <logger name="io.netty" level="info"/>
    <logger name="io.ktor.server.routing.Routing" level="info"/>
    <logger name="io.ktor.server.auth.Authentication" level="info"/>
    <logger name="io.ktor.server.plugins.statuspages.StatusPages" level="info"/>
    <logger name="io.ktor.server.plugins.callid.CallId " level="info"/>
</configuration>