# Database Configuration
DB_NAME=acs_ball_by_ball
DB_USER=ballbyball
DB_PASSWORD=p4ssw0rd
DB_ROOT_PASSWORD=p4ssw0rd
DB_PORT=3306

# API Configuration
API_PORT=8081

# Web Configuration
WEB_PORT=8080

# Update Database / Cricsheet Data Directory
DATA_DIR=./data
