# Database Configuration
DB_NAME=acs_ball_by_ball
DB_USER=ballbyball
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_PORT=3306

# API Configuration
API_PORT=8081
JWT_JWKS_URL=
JWT_ISSUER=
JWT_AUDIENCE=

# Web Configuration
WEB_PORT=8080
OIDC_AUTHORITY=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URI=http://localhost:8080/signin-oidc
OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:8080/
OIDC_REGISTRATION_URL=

# Update Database / Cricsheet Data Directory
DATA_DIR=./data
